{#
/**
 * Template Name: 404 Not Found
 * Description: Template for 404 error pages
 * Context: site (Timber\Site object)
 */
#}

{% include 'partials/header.twig' %}

<main class="site-main">
	<div class="error-404">
		<h1>404 - Page Not Found</h1>
		{# 404 content #}

	</div>
</main>

{% include 'partials/footer.twig' %}
