{#
/**
 * Template Name: Archive
 * Description: Template for displaying post archives (category, tag, date, author)
 * Context: posts (array of Timber\Post objects), title (archive title)
 */
#}

{% extends 'partials/base.twig' %}

{% block content %}
<div class="archive-container">
	{% include 'partials/archive-header.twig' %}

	<div class="archive-posts">
		{# Archive posts loop #}

	</div>
</div>
{% endblock %}
