{#
/**
 * Template Name: Front Page
 * Description: Template for the static homepage
 * Context: post (Timber\Post object for homepage)
 */
#}

{% extends 'partials/base.twig' %}

{% block content %}
<div class="front-page">
	{{ content|raw }}
</div>
{% endblock %}
