{#
/**
 * Template Name: Front Page
 * Description: Template for the static homepage
 * Context: post (Timber\Post object for homepage)
 */
#}

{% include 'partials/header.twig' %}

<main class="site-main">
	<div class="front-page">
		{# Homepage content #}

	</div>
</main>

{% include 'partials/footer.twig' %}
