{#
/**
 * Template Name: Blog Home
 * Description: Template for the blog posts index page
 * Context: posts (array of Timber\Post objects)
 */
#}

{% include 'partials/header.twig' %}

<main class="site-main">
	<div class="blog-home">
		{# Blog posts listing #}

	</div>
</main>

{% include 'partials/footer.twig' %}
