{#
/**
 * Template Name: Blog Home
 * Description: Template for the blog posts index page
 * Context: posts (array of Timber\Post objects)
 */
#}

{% extends 'partials/base.twig' %}

{% block content %}
<div class="blog-home">
	{# Blog posts listing #}

</div>
{% endblock %}
