{#
/**
 * Template Name: Index (Fallback)
 * Description: Default fallback template for all content types
 * Context: posts, post (when in loop)
 */
#}

{% extends 'partials/base.twig' %}

{% block content %}
<div class="container">
	{# Main content area #}

</div>
{% endblock %}
