{#
/**
 * Template Name: Index (Fallback)
 * Description: Default fallback template for all content types
 * Context: posts, post (when in loop)
 */
#}

{% include 'partials/header.twig' %}

<main class="site-main">
	<div class="container">
		{# Main content area #}

	</div>
</main>

{% include 'partials/footer.twig' %}
