{#
/**
 * Template Name: Page
 * Description: Template for displaying WordPress pages
 * Context: post (Timber\Post object for page)
 */
#}

{% include 'partials/header.twig' %}

<main class="site-main">
	<article class="page-content">
		{# Page content #}

	</article>
</main>

{% include 'partials/footer.twig' %}
