{#
/**
 * Template Name: Search Results
 * Description: Template for displaying search results
 * Context: posts (search results), search_query (search term)
 */
#}

{% extends 'partials/base.twig' %}

{% block content %}
<div class="search-results">
	<h1>Search Results</h1>
	{# Search results content #}

</div>
{% endblock %}
