{#
/**
 * Template Name: Search Results
 * Description: Template for displaying search results
 * Context: posts (search results), search_query (search term)
 */
#}

{% include 'partials/header.twig' %}

<main class="site-main">
	<div class="search-results">
		<h1>Search Results</h1>
		{# Search results content #}

	</div>
</main>

{% include 'partials/footer.twig' %}
