{#
/**
 * Template Name: Singular (Fallback)
 * Description: Fallback template for single posts and pages
 * Context: post (Timber\Post object)
 */
#}

{% include 'partials/header.twig' %}

<main class="site-main">
	<article class="singular-content">
		{# Singular content #}

	</article>
</main>

{% include 'partials/footer.twig' %}
