{#
/**
 * Template Name: Single Post
 * Description: Template for displaying single blog posts
 * Context: post (Timber\Post object)
 */
#}

{% include 'partials/header.twig' %}

<main class="site-main">
	<article class="single-post">
		{# Single post content #}

	</article>
</main>

{% include 'partials/footer.twig' %}
