{#
/**
 * Partial: Site Footer
 * Description: Global site footer
 * Context: site (Timber\Site object)
 */
#}

<footer class="site-footer">
	<div class="container">
		{# Site footer content #}

	</div>
</footer>
