{#
/**
 * Partial: Site Header
 * Description: Global site header with navigation
 * Context: site (Timber\Site object), menu (navigation menu)
 */
#}

<header class="site-header">
	<div class="container">
		{# Site header content #}

	</div>
</header>
