{#
/**
 * Template Name: Product Archive (WooCommerce)
 * Description: Template for displaying WooCommerce product archives/shop page
 * Context: posts (products array), title (archive title)
 */
#}

{% include 'partials/header.twig' %}

<main class="site-main woocommerce-archive">
	<div class="products-container">
		<header class="archive-header">
			{# Shop page header #}

		</header>

		<div class="products-grid">
			{# Product archive loop #}

		</div>
	</div>
</main>

{% include 'partials/footer.twig' %}
