{#
/**
 * Template Name: Single Product (WooCommerce)
 * Description: Template for displaying single WooCommerce products
 * Context: post (Timber\Post object), product (WC_Product object)
 */
#}

{% include 'partials/header.twig' %}

<main class="site-main woocommerce-product">
	<div class="product-container">
		{# Single product content #}

	</div>
</main>

{% include 'partials/footer.twig' %}
